body 
{
    text-align: center;
    background-color: #a4bcf2;
}

.container
{
    margin: 0px 150px;
    border-left: 2px black solid;
    border-right: 2px black solid;
}

fieldset 
{
    width: 25%;
    margin: auto;
}

label
{
    float: left;
    text-align: right;
    width: 10em;
}

input[type="submit"]
{
    
}

nav, footer 
{
    background-color: #7322ad;
    height: 50px;
    padding: 0px;
}

footer 
{
    padding-top: 20px;
}

nav ul 
{
    margin: 0px;
    padding-top: 15px;
}

nav a 
{
    margin-left: 10px;
    text-decoration: none;
    color: #708ff5;
}

nav a:hover
{
    color: #0000ff;
}

li
{
    list-style-type: none;
}

p
{
    padding: 0px 150px;
    font-size: 1.5em;
}